/* .footer{
  margin: auto 0px;
   color: black;
  clear: both;
  width: 100%; 
 
  padding: 0;
  border:0;
} */
.Flow{
    width: 100%;
    padding-top: -10%;
   
}
.con{

}
.social{
  height: 1%;
  width: 6.5%;
  margin: auto 0;
  padding-bottom: 5%;
  padding-right: 2%;
  filter: grayscale(100%)
}
.social:hover{
  filter: grayscale(0%)
}
.linkedinIcon{
  /* height: 50%; */
  z-index: 10000; 
  /* width: 50%; */
}
.Panel{
  /* width: 1291px; */
  background-size: cover;
  background-color:aliceblue;
  color: black;
    height: 325px;
    margin: auto;
  
}
.panelBody{
  background-size: cover;
  background-color:aliceblue;
  border:0;
  height: 400px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .Panel {
      height: 450px;
      width: 450px;
  }
  .social{
    /* height: ; */
    width: 150px;
    padding-left:10px;
  }
.contacts{
  padding-left: 25%
}
.sitemap{
  padding-left:2%}

}
.lol{
  margin: 1 0;
  padding-left: 100%;
   
  
    /* padding-left: 59px;  */
    position: relative;
    display: block; 
    align-items: center;

    padding: 0px;

}
.sitemap{
  padding-right: 9%}
.twitter1{
  padding: 0;
  padding-right: -25%;
  margin: 2 -5 -5 auto;
  /* height: 100%; */

}
.footerLinks{
  color:red;
  margin:'0 auto'
  
}

.footerLinks:hover{
  color:#700000;
  font-family: 'Oswald', sans-serif;
  text-decoration:underline;
}
.contacts{
  height: .8%;
  
}
.thecontact{
  /* height: 100%; */
  width: 55%
}

.labels{
  padding-right: 45%
}
.pictures{
  padding-right: 35%
}
.social{
  height: 1%;
  width: 6.5%;
  margin: auto 0;
  padding-bottom: 5%;
  padding-right: 2%;
  filter: grayscale(100%)
}
.social:hover{
  filter: grayscale(0%)
}