.footer{
  margin: auto 0px;
     
  clear: both;
  width: 100%; 
  height: 100px; 
  padding: 0;
}
.Flow{
    width: 100%;
   
}
.linkedinIcon{
  height: 5%;
  width: 5%;
}
.Panel{
  /* width: 1291px; */
  background-color: black;
  color: aliceblue;
    height: 450px;
    margin: auto;

}
.lol{
  margin: 1 0;
  padding-left: 100%;
   
  
    /* padding-left: 59px;  */
    position: relative;
    display: block; 
    align-items: center;

    padding: 0px;

}
.twitter1{
  padding: 0;
  padding-right: 20%;
  margin: 2 -5 -5 auto;

}
.footerLinks{
  color:red;
  margin:'0 auto'
  
}

.footerLinks:hover{
  color:#700000;
  font-family: 'Oswald', sans-serif;
  text-decoration:underline;
}