.navbar{
    margin: 0 auto;
}
.links{
    color:#337ab7;
    
}

.links:hover{
    text-decoration:underline;
}
.navbar-default{
    width: auto
}

@media only screen and (max-width: 768px) {
    
    .navbar-default{
        width: 78.4%;
        padding-right:50px;
        margin-right: 112px;
    }
   

    .navbar-toggle{

    }
}

