

.headerDiv{
    border-radius: 3px;
    height: 916px;
width: 100%;

    margin: auto auto;
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
    background-image: 
     url('./Header_pic/hawaii.jpg');
    
     background-blend-mode: multiply; 
     mix-blend-mode: screen; 
    box-shadow: 0px 30px 40px rgba(0,0,0,.1); 
    background-repeat: no-repeat;
    background-size: cover ;
     background-blend-mode: lighten;
    mix-blend-mode: exclusion;
  color: white;
  display: block;
 
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6vw;
  overflow: hidden 
}

.container{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .headerDiv {
        width: 400px;
        height:400px;
        background-blend-mode: multiply; 
        mix-blend-mode: screen; 
       box-shadow: 0px 30px 40px rgba(0,0,0,0); 
       background-repeat: no-repeat;
   
       background-size: cover ;
       mix-blend-mode: lighten;
     color: white;
     display: block;
    
    }
    .headerNameTxt{
        font-size: 60px !important;
    }
    .headerTxt{
        font-size: 30px !important;
        padding-left: 75%;
    }
    .boxing{
        width: 50%;
    }
    .container{
        padding-bottom: 60%;
    }
    
}
.lang{
    font-family: 'Nanum Brush Script','cursive';
    font-size: 50px;
}

.boxDiv{
    align-content: center;
    /* border: 8px solid #000; */
-moz-border-bottom-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
-moz-border-top-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
-moz-border-left-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
-moz-border-right-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
/* padding: 5px 5px 5px 15px; */
width: 300px;
}
.headerNameTxt{
    color: white;
    text-align: center;
    padding-top: 18%;
    font-family: 'Nunito', sans-serif;
    font-size: 120px;
    font-weight: bolder;
}
.headerTxt{
    color: white;
    text-align: center;
    padding-top: .01%;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

