

.headerDiv{
    height: 400px;
width: 100%;
    margin: auto 0px;
    background-image: 
    linear-gradient( 
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)
    ),   url('./Header_pic/ME.jpg');
    background-repeat: no-repeat;
     background-blend-mode: multiply; 
     mix-blend-mode: screen; 
    box-shadow: 0px 30px 40px rgba(0,0,0,.1); 
    background-repeat: no-repeat;
    background-size: auto;
     background-blend-mode: lighten;
    mix-blend-mode: exclusion;
  color: white;
  display: block;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6vw;
  overflow: hidden 
}

.lang{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 50px;
}

.boxDiv{
    align-content: center;
    /* border: 8px solid #000; */
-moz-border-bottom-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
-moz-border-top-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
-moz-border-left-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
-moz-border-right-colors:#897048 #917953 #a18a66 #b6a488 #c5b59b #d4c5ae #e2d6c4 #eae1d2;
/* padding: 5px 5px 5px 15px; */
width: 300px;
}
.headerTxt{
    color: white;
    text-align: center;
    padding-top: 120px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}