body{
  background-color: aqua;
  padding: 0;
  position: relative;
  margin: 0px auto; 
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */


}

.App {
  margin: 0px auto;
  padding: 0;
  width: 100%;
 
}


.container {
  margin: 0px auto;
  width: 100%;
  padding: 0;
 
}