body{
  background-color: aqua;
  padding: 0;
  position: relative;
  margin: 0px auto; 
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */


}

.App {
  margin: 0px auto;
  padding: 0;
  width: 100%;
 
}
.Header{
  padding-bottom: 10%;

}
.About{
  background-color: aliceblue;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  ;
}
.Home{
  background-color: aliceblue;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
}
.Contact{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}
.Classwork{
  background-color: aliceblue;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 25%;
}
.Projects{
  padding-bottom: 10%;
}
.Education{
  padding-bottom: 10%;
}
.container {
  margin: 0px auto;
  width: 100%;
  padding: 0;
 
}