.More{
   border-radius: 20px;
    background-color: gray;
    height: 30px;
    width: 55%;
    border: 1px solid grey;  
    color: black
}
.thecol{
    height: 50%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .thecol{
        height: 50%;
        margin: 10 15;
        padding-left: 100px !important;
    }
    .More{
        height: 30px;
        width: 200px;
      margin: 5 auto;
    }
    .MoreLink{
padding-left: 10px;
    }

}
.MoreLink{
 color: black;
 font-size:20px;
 font-family: 'Montserrat', sans-serif;
}

.whitespace{
    
    width: 540px;
}