.AboutDiv{
    margin-top: 30px;
}

.IntroText{
    padding: 10px;
    margin-left: 25px;
    text-align: left;
}

.IntroImage{
    width: 100px;
    height: 100px;
}

.ProfilePic{
    height: 30%;
    width: 40%;
}