.footer{
  margin: auto 0px;
     
  clear: both;
  width: 100%; 
  height: 100px; 
  padding: 0;
}
.Flow{
    width: 100%;
   
}
.PanelDiv{
    margin-right: 110002999232332px; 
  

}
.Panel{
  width: 1291px;
    height: 550px;

}